body{
	margin: 0;
	background-color: #181c23;
	background-image: url(images/bg-top.png);
	background-repeat: no-repeat;
	margin-bottom: 50px;
	font-family: Roboto;
}
a{
	text-decoration: none;
	color: #f0ece5;
}
.container{
	margin: 0 auto;
	width: 1110px;
	justify-content: space-between;
}
.row{
	display: flex;
}
.col-1{
	width: 8.33%;
	flex: 0 0 auto;
}
.col-2{
	width: 16.66%;
	flex: 0 0 auto;
}
.col-3{
	width: 25%;
	flex: 0 0 auto;
}
.col-4{
	width: 33.32%;
	flex: 0 0 auto;
}
.col-5{
	width: 41.65%;
	flex: 0 0 auto;
}
.col-6{
	width: 50%;
	flex: 0 0 auto;
}
.col-7{
	width: 58.31%;
	flex: 0 0 auto;
}
.col-8{
	width: 66.64%;
	flex: 0 0 auto;
}
.col-9{
	width: 75%;
	flex: 0 0 auto;
}
.col-10{
	width: 83.3%;
	flex: 0 0 auto;
}
.col-11{
	width: 91.63%;
	flex: 0 0 auto;
}
.col-12{
	width: 100%;
	flex: 0 0 auto;
}