body{
	font-family: 'Montserrat', sans-serif;
	background: url(images/bg-top.png), url(./images/bg-bottom.png);
	background-color: #181c23;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto, 100% auto;
	background-position: top center, bottom center;
}
*,::after, ::before{
	box-sizing: border-box;
}
.menu__top{
	padding-bottom: 20px;
	padding-top: 15px;
}
.social__links{
	display: flex;
	color: #181c23;
}
.social__links .btn-icon img{
	width: 30px;
}
.btn-icon{
	padding: 0 5px;
	background-color: #d1c9cb;
	border-radius: 50%;
	margin-right: 10px;
}
.btn-icon_1{
		padding: 0 5px;
}
.features{
	display: flex;
	justify-content: space-between;
	text-align: justify;
	text-justify: newspaper;
	margin-top: 50px;
}
.features__block{
	background: #292e38;
    /*margin-right: 20px;*/
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.features__block:last-child{
	margin-right: 0;
}
.features__block .features__block__icon{
    text-align: center;
    padding: 20px;
}
.features__text{
	color: #f6f5f3;
	font-size: 25px;
}
.main__menu{
	    background: rgb(7 6 7 / 50%);
	height: 120px;
	margin-bottom: 50px;
}
.favicon{
	margin-top: 40px;
}
.red_text_1{
	color: red;
}
.red_text_2{
	color: red;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
i {
  margin-right: 10px;
}
nav{
  padding-top: 45px;
  display: block;
  margin: 0 auto 30px;
  float: right;
  margin-right: 20px;
}
.one ul {
  padding: 1em 0;
}
.one a {
  padding: 1em;
  font-size: 20px;
  line-height: 1px;
  font-weight: 400;
}
.one li {
  display: inline;
}
.slide_1{
	height: 395px;
	width: 100%;
	border-radius: 5px;
}
.features__text span{
	color: red;
	display: block;

}
.main__menu_1{
	display: flex;
}
.latest_news{

}
.lest_news_block{
	/*width: 580px;*/
	display: flex;
}
.news{
    background: #292e38;
    border-radius: 3px;
}
.img_1{
	width: 100px;
	padding: 15px;
	border-radius: 5px;
}
.big_text_in_block{
	font-size: 20px;
	color: white;
}
.small_text_in_block{
	color: #646365;
	filter: brightness(150%);
	/*text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}
.data_post{
	color: #646365;
	filter: brightness(150%);
}
.right_news_block{
	/*width: 500px;*/
}
.img_5{
	width: 500px;
	height: 300px;
}
.big_text_in_right_block{
	color: white;
	font-size: 20px;
}
.small_text_in_right_block{
	color: #646365;
	filter: brightness(150%);
}
.block_bottom_news{
	margin-top: 40px;
}

.block_bottom_news img{
	width: 250px;
	height: 150px;
}

.img_6{
    width: 250px;
    height: 150px;
    border-radius: 3px;
}
.big_text_in_bottom_block{
	color: white;
}
.small_text_in_bottom_block{
	color: #646365;
	filter: brightness(150%);
}
.btn__bot{
	background: #2f3541;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
}
.contact-form .btn__bot{
	background: white;
	cursor: pointer;
	color: #181c23;;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
	text-transform: uppercase;
}
.data_post_bottom{
	color: #646365;
	filter: brightness(150%);
	float: right;
	margin-right: 10px;
}
/*.bottom_news{*/
/*	display: flex;*/
/*}*/
.latest_posts{
	margin-top: 20px;
}
.img_8{
	border-radius: 3px;
}
.big_text_in_posts_block{
	width: 300px;
	color: white;
}
.small_text_in_posts_block{
	color: #646365;
	filter: brightness(150%);
}
span{
	color: red;
}
.text_post{
	color: #646365;
    filter: brightness(150%);
    font-size: 12px;
}
.social_icons{
	width: 350px;
	height: 250px;
	background: #2f3541;
}
.btn_icons_posts{
	background-color: #292e38;
	width: 87.5px;
	height: 85px;
}
.btn_icons_posts_2{
	background: #363d4a;
	width: 87.5px;
	height: 85px;
}
.block_social{
	display: flex;
}
/*Иконки*/
.block_social .btn_icons_posts svg{
	width: 20px;
}
.block_social .btn_icons_posts_2 svg{
	width: 20px;
}
.btn_icons_posts{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*.btn_icons_posts_2{*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/
/*.img_9{*/
/*}*/
/*.block_social_2{*/
/*	display: flex;*/
/*}*/

.social_icon_btn svg {
	width: 20px;
}

.sidebar .social__links ul{
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.sidebar .social__links {
	display: block;
}
.sidebar .social__links ul li{
	flex: 1 0 25%;
	height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #292e38;
}

.social_icon_btn:nth-child(odd) {
	background-color: #363d4a;
}

.social_icon_btn:hover {
	background-color: #5c43a1;
}

h1{
	color: white;
}
.btn__bot{
	margin-bottom: 30px;
}
.small_text_in_matches_block{
	color: #646365;
	filter: brightness(150%);
	width: 200px;
}
.btn__bot2{
	background: #dd163b;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
}
.block_bottom_matches{
	background: #292e38;
	margin-top: 50px;
	height: 170px;
}
.big_text_in_matches_block{
	color: white;
	font-size: 20px;

}
.big_text_matches_block{
	text-align: center;
	font-size: 16px;
}
.data-matches{
	color: white;
	text-align: center;

}
.btn__bot3{
	background: #e2361f;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
	margin-top: 15px;
}
.big_text_in_matches_block2{
	float: right;
	font-size: 20px;
}
.twitch{
	display: flex;
}
.text_matches{
	display: flex;
	flex-direction: column;
	height: 300px;
    justify-content: space-around;
    padding-right: 15px;
    align-items: flex-start;
}
.block_bottom_matches{
	display: flex;
	align-items: center;
	    justify-content: space-around;
}
.text_matches2{
	text-align: center;
}
.social__links svg {
    width: 10px;
}
.social__links a {
    color: black;
    background: grey;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	transition: background-color 0.5s;
}
.social__links li:nth-child(1):hover a{
	background-color: orangered;
}
.social__links li:nth-child(2):hover a{
	background-color: #5c43a1;
}
.social__links li:nth-child(3):hover a{
	background-color: black;
}
.social__links li:nth-child(4):hover a{
	background-color: blue;
}
.social__links li:nth-child(5):hover a{
	background-color: red;
}
.social__links li:nth-child(6):hover a{
	background-color: deepskyblue;
}
.social__links li:nth-child(7):hover a{
	background-color: firebrick;
}
.social__links li:nth-child(8):hover a{
	background-color: #F08A5D;
}
.nk-social-links{
	display: flex;
    margin: 0;
    padding: 0;
}
.nk-social-links li{
	padding-right: 5px;
}
.nk-contacts-icons svg{
	width: 12px;
}
.nk-contacts-icons{
	display: flex;
	padding: 0;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}
.nk-contacts-icons li {
    padding-left: 30px;
}
.nk-badge {
    display: inline-block;
    background: red;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
}
.img_detal{
	display: flex;
	align-items: center;
}
.img_10{
	width: 47px;
}
.text_block_tabbed{
	height: 68px;
	background: #dd163b;
	font-size: 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: 400;
}
.block_menu{
	display: flex;
}
.block_content_tabbed{
	height: 200px;
	background: black;
	margin-top: 15px;
}
.data_post_bottom_2{
	color: #646365;
    filter: brightness(150%);
    margin-right: 10px;
}
.pos{
	width: 70px;
	background: #dd163b;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	position: relative;
	top: 10px;
}
.img_11{
	border-radius: 3px;
}
.block_bottom_tabbed{
	display: flex;
	margin-top: 30px;
}
.pos_1{
	color: #181c23;
}
.pos_2{
	color: #181c23;
}
.pictures img{
	width: 200px;
    height: 200px;
    border-radius: 3px;
}
.pictures{
	display: flex;
	justify-content: space-between;
}
.block_pictures{
	background: black;
	width: 200px;
	height: 200px;
	border-radius: 3px;
}
.pictures:last-child{
	margin-top: 50px;
}
.block_pictures2{
	background: black;
	width: 200px;
	height: 200px;
	border-radius: 3px;
}
.text_selling{
	color: white;
	font-size: 15px;
	font-weight: 400;
	font-family: sans-serif;
}
.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 30px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: #dd163b;
}
.text_selling_2{
	color: white;
}
.selling{
	display: flex;
	justify-content: space-around;
}
.selling2{
	display: flex;
	justify-content: space-around;
}
.d1 {
    display: flex;
    margin-bottom: 35px;
}
.d1 input {
    width: 100%;
    border: 1px solid #8d8f93;
    outline: none;
    background: #ffffff;
    color: #9E9C9C;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}
.d1 button {
    width: 42px;
    border: none;
    background: red;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.video_icons{
	width: 350px;
	height: 250px;
	background: #2f3541;
	margin-top: 50px;
}
/*меню */
.menu-top ul{
	display: flex;
	padding: 0;
}
.menu-top > ul > li{
}
.menu-top li{
	position: relative;
}
.menu-top li a{
	padding: 10px 30px;
    display: inline-block;
}
.menu-top{
	margin-right: 0;
}
.menu-top .dropdown{
	flex-direction: column;
	padding: 0;
	background: rgb(0 0 0 / 50%);
	border-radius: 5px;
    position: absolute;
    margin-top: 40px;
    left: 100%;
    visibility: hidden;
	border-bottom: 4px solid red;
	min-width: 300px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0;
}
.menu-top .dropdown:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	top: -50px;
}

.menu-top .dropdown li > .dropdown {
	top: -100%;
	margin-left: 5px;
}

.menu-top .dropdown li > .dropdown:before {
	top: 0;
	width: 5px;
	height: 100%;
	left: -5px;
}

.menu-top >  ul > li > .dropdown {
	left: 0;
}
.menu-top li:hover > .dropdown{
	visibility: visible;
}
.heading{
	font-size: 24px;
	text-transform: uppercase;
	padding: 30px 0;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.heading:before{
	width: 30px;
	height: 4px;
	background: #2f3541;
	margin-right: 15px;
	flex: 0 0 30px;
	content: "";
}
.heading:after{
	/*width: 70%;*/
	height: 4px;
	background: #2f3541;
    margin-left: 15px;
    flex: 1 0 auto;
    content: "";
}
.sidebar .heading{
	font-size: 20px;
	padding-left: 20px;
	background: #2f3541;
}
.sidebar .heading::before,.sidebar .heading::after{
	background: #fff;
}
.sidebar .heading::before{
	display: none;
}
.heading span{
	padding-right: 10px;
}
.footer .heading{
	font-size: 20px;

}
.footer .heading::before,.footer .heading::after{
	display: none;
}
.tabbed-menu{
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}
.tabbed-item{
	flex: 1 0;
	max-width: 250px;
	padding-right: 5px;
	margin: 1px;
}
.tabbed-item a{
	background: #2f3541;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    display: block;
}
.widget_content{
	padding: 20px 23px;
    background-color: #292e38;
}
.plain-video {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    background-size: cover;
    border-radius: 4px;
}
.recent_block{
	width: auto;
	height: 400px;
	background: #2f3541;
	margin-top: 100px;
}
.img-14{
	border-radius: 4px;
}
.block_recent{
	display: flex;
	margin-top: 10px;
	padding: 5px;
}
.data_post_bottom2{
	color: #646365;
	filter: brightness(150%);
	font-size: 15px;
}
.big_text_in_block2{
	font-size: 15px;
	color: white;
}
.matches_social{
	width: auto;
	height: 400px;
	background: #2f3541;
	margin-top: 50px;
}
.block_matches_social{
	height: auto;
	background-color: #292e38;
	padding: 20px;
}
.flex-matches{
	display: flex;
}
.block_matches_social2{
	height: auto;
	background-color: #2f3541;
	padding: 20px;
}
.most_popular{
	width: auto;
	height: 650px;
	background: #2f3541;
	margin-top: 150px;
}
.img-15{
	border-radius: 4px;
}
.block_social_popular{
	display: flex;
	margin-top: 25px;
	padding: 5px;
}
/*input{
	height: 42px;
	border: 1px solid grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	background: #fff;
	border: none;
	padding: 10px;
}*/
.btn__bot2{
	background: #3f4655;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
}
.footer_top {
    color: white;
    padding: 50px 0;
    height: 400px;
    background: rgba(18, 21, 26, .8);
}
.footer_bottom {
    background-color: #000;
    color: white;
    padding: 30px 0;
}
.footer .social__links{
	justify-content: flex-end;
}
.footer .social__links a{
	width: 30px;
    height: 30px;
}
.footer .social__links svg {
    width: 15px;
    align-items: center;
}
.text-footer-right{
	color: #fff;
	font-size: 15px;
}
.block-footer-right{
	display: flex;
}
.text-contact-footer{
	width: 148px;
	margin-left: 20px;
}
.img-18{
	border-radius: 4px;
}
.block-footer-right-main{
	display: flex;
}
.in-twitter-block{
}
.user-twit{
	font-size: 15px;
	padding-left: 20px;
}
.twit-block{
	display: flex;
}
.text-twit-a{
	font-size: 15px;
	padding-left: 35px;
}
.textarea textarea{
    width: 100%;
    background: none;
    border-radius: 4px;
    border: 1px solid #313947;
    max-width: 100%;
    min-width: 100%;
    max-height: 120px;
    min-height: 120px;
    font-size: 16px;
    color: white;
    padding: 7px 10px;
    font-family: Open Sans;
}
.textarea textarea:focus,
.input input:focus{
	outline: 0;
	border: 1px solid red;
	transition: 0.4s;
}
.input input{
	width: 100%;
    background: none;
    border-radius: 4px;
    border: 1px solid #313947;
    font-size: 16px;
    color: white;
    font-family: Open Sans;
    padding: 7px 10px;
}
.contact-form .row{
	margin-bottom: 15px;
}

.left_news {
	/* overflow: scroll; */
	max-height: 490px;
	overflow-x: hidden;
	overflow-y: auto;
}

.right_news_block {
	overflow-y: auto;
	max-height: 490px;
}

.picture {
	position: relative;
}

.picture-comments {
	color: black;
	position: absolute;
	background: white;
	right: 15px;
	bottom: 15px;
	width: 32px;
	height: 28px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.picture-comments:before {
	content: "";
	width: 10px;
	height: 10px;
	border: 5px solid transparent;
	border-right: 8px solid white;
	position: absolute;
	/*bottom: -1px;*/
	/*right: 3px;*/
	transform: translate(7px, 9px);
}

.picture-container img {
	width: 100%;
	transition: transform 0.2s ease;
}

.picture:hover .picture-container img {
	transform: scale(1.05);
}

.picture-container {
	overflow: hidden;
	border-radius: 3px;
}