@import url(https://fonts.googleapis.com/css?family=Roboto);
.menu__top{
	padding-bottom: 20px;
	padding-top: 15px;
}
.social__links{
	display: flex;
	color: #181c23;
}
.social__links .btn-icon img{
	width: 30px;
}
.user__menu{
	max-width: 400px;
	text-align: right;
	display: flex;
	padding: 0 15px;
}
.btn-icon{
	padding: 0 5px;
	background-color: #d1c9cb;
	border-radius: 50%;
	margin-right: 10px;
}
.btn-icon_1{
		padding: 0 5px;
}
.features{
	display: flex;
	justify-content: space-between;
	text-align: justify;
	text-justify: newspaper;
	margin-top: 50px;
}
.features__block{
	background: #292e38;
    /*margin-right: 20px;*/
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.features__block:last-child{
	margin-right: 0;
}
.features__block .features__block__icon{
    text-align: center;
    padding: 20px;
}
.features__text{
	color: #f6f5f3;
	font-size: 25px;
}
.main__menu{
	background: #070607;
	height: 120px;
}
.favicon{
	margin-top: 40px;
}
.red_text_1{
	color: red;
}
.red_text_2{
	color: red;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
}
i {
  margin-right: 10px;
}
nav{
  padding-top: 45px;
  display: block;
  margin: 0 auto 30px;
  float: right;
  margin-right: 20px;
}
.one ul {
  padding: 1em 0;
}
.one a {
  padding: 1em;
  font-size: 20px;
  line-height: 1px;
  font-weight: 400;
}
.one li {
  display: inline;
}
.slide_1{
	height: 395px;
	width: 100%;
	border-radius: 5px;
}
.features__text span{
	color: red;
	display: block;

}
.main__menu_1{
	display: flex;
}
.latest_news{
	padding-top: 50px;
}
.lest_news_block{
	/*width: 580px;*/
	display: flex;
	background: #292e38;
}
.latest_news .container{
	background: #292e38;
}
.img_1{
	width: 100px;
	padding: 15px;
	border-radius: 5px;
}
.big_text_in_block{
	font-size: 20px;
	color: white;
}
.small_text_in_block{
	color: #646365;
	filter: brightness(150%);
	/*text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}
.data_post{
	color: #646365;
	filter: brightness(150%);
}
.right_news_block{
	/*width: 500px;*/
}
.img_5{
	width: 500px;
	height: 300px;
}
.big_text_in_right_block{
	color: white;
	font-size: 20px;
}
.small_text_in_right_block{
	color: #646365;
	filter: brightness(150%);
}
.block_bottom_news{
	margin-top: 40px;
}

.block_bottom_news img{
	width: 250px;
	height: 150px;
}

.img_6{
    width: 250px;
    height: 150px;
    border-radius: 3px;
}
.big_text_in_bottom_block{
	color: white;
}
.small_text_in_bottom_block{
	color: #646365;
	filter: brightness(150%);
}
.btn__bot{
	background: #2f3541;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	outline: 0;
}
.data_post_bottom{
	color: #646365;
	filter: brightness(150%);
	float: right;
	margin-right: 10px;
}
/*.bottom_news{*/
/*	display: flex;*/
/*}*/
.latest_posts{
	margin-top: 20px;
}
.img_8{
	border-radius: 3px;
}
.big_text_in_posts_block{
	width: 300px;
	color: white;
}
.small_text_in_posts_block{
	color: #646365;
	filter: brightness(150%);
}
span{
	color: red;
}
.text_post{
	color: #646365;
    filter: brightness(150%);
    font-size: 12px;
}
.social_icons{
	width: 350px;
	height: 250px;
	background: #2f3541;
}
.btn_icons_posts{
	background-color: #292e38;
	width: 87.5px;
	height: 85px;
}
.btn_icons_posts_2{
	background: #363d4a;
	width: 87.5px;
	height: 85px;
}
.block_social{
	display: flex;
}
.img_9{
}
.block_social_2{
	display: flex;
}
h1{
	color: white;
}